*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 
body {
    -ms-layout-grid: charter;   
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3cfd3;
}
figure {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
ul: houv {

    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
}